<!-- hero section -->
<section class="bg-hero-bg bg-cover bg-no-repeat bg-center">
    <div class="bg-black bg-opacity-50 px-4 ">
        <div
            class="max-w-md sm:max-w-7xl mx-auto flex flex-col-reverse md:flex-row md:pb-0 md:pt-10 justify-center items-center gap-3 text-center md:text-left pb-10">
            <div class="space-y-5 text-white">
                <h4 class="uppercase text-yellow-500 tracking-wider font-semibold">we design your dream</h4>
                <h1 class="text-4xl font-bold tracking-wider uppercase">Our mission</h1>
                <p class="text-xs font-light tracking-wider leading-6 md:w-2/3">Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Reiciendis totam dolorum doloremque, quam soluta accusamus tenetur consectetur
                    necessitatibus aut pariatur hic, veritatis quis, et deserunt accusantium eum mollitia id voluptatum.
                </p>
                <button class="btn-primary">Explore</button>
            </div>
            <img src="../../../../assets/images/boy2.png" class="w-full" alt="">
        </div>
    </div>
</section>