<!-- contact us -->
<section class="bg-testimonials2 bg-cover bg-center bg-no-repeat h-screen">
    <div class="bg-black bg-opacity-90 h-screen px-4">
        <div class="max-w-md md:max-w-7xl mx-auto bg-gray-200 rounded-t-3xl ">
            <div class="pt-32">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat iure deserunt provident. Consequatur laudantium vero dolorum laboriosam vitae dolore eius officiis tempore? Sapiente temporibus accusantium quam consequatur adipisci perferendis laborum.
            </div>
        </div>
    </div>

</section>